@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
    --color-primary: #0A3871;
    --color-secondary: #343440;
    --color-tertiary: #495057;
    --background: #F3F5FC;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    background-color: var(--background);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: var(--color-primary);
    font-weight: 700;
}