@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700&display=swap');

:root {
    --color-primary: #0A3871;
    --color-secondary: #343440;
    --color-tertiary: #495057;
    --background: #e0e6fa;
    --background-secondary: #D8DFE8;

    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    background-color: var(--background);

    display: grid; 
    grid-template-areas: 
    "header header header"
    "main   main   main"
    "footer footer footer"; 
}
.header, .decode__header {    
    grid-area: header;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: .6rem;
    color: var(--color-primary);
    font-weight: 700;  
}

.main, .container_main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.main__decode {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

#decode__text {
    border: none;
    width: 100%;
    height: 70vh;
    border-radius: 12px;
    padding: 10px;
    color: var(--color-primary);
    font-size: 1rem;
    outline: none;
}

#text__alert {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    font-size: .8rem;
    color: var(--color-primary);
}

.text__alert_disable {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    font-size: 3rem;
}

.decode__button{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.btn__encryp, .btn_decryp,
.btn__paste {
    width: 100%;
    padding: 20px;
    border-radius: 12px;
    border: none;
}

.btn__encryp, .btn__paste {
    background-color: var(--color-primary);
    color: var(--background);
}

.btn__encryp:hover, .btn__paste:hover {
    cursor: pointer;
    background-color: var(--background-secondary);
    color: var(--color-primary);
    font-size: .9rem;
}

.btn_decryp {
    background-color: var(--background-secondary);
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
}

.btn_decryp:hover {
    cursor: pointer;
    background-color: var(--color-primary);
    color: var(--background);    
}

#btn__paste {
    display: none;
}

.main__text {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    padding: 20px; 
}

#encrypted {
    font-size: 1rem;
}


#img__search {
    display: none;
}

.decode__status {
    justify-content: center;
    width: 80%;
    text-align: center;
    color: var(--color-primary);    
}

.text__decoded {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    font-size: .8rem;
    color: var(--color-primary);
    background-color: white;
    padding: 20px;
}

.button__paste {
    display: none;
}

.footer, .decode__footer { 
    grid-area: footer;
    height: 90px;
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: center;
    background-color: var(--color-primary); 
    text-align: center;
    color: var(--background);    
}

.social__mida {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.social__mida a {
    text-decoration: none;
    color: var(--background);
}

.fa-brands:hover {
    transform: scale(1.3);
}

@media (min-width:768px) {
   .container_main {
    flex-direction: row;
   }
   
   .main__decode {
    width: 100%;
   }

   .decode__button  {
    flex-direction: row;
   }

   .decode__status {
    width: 60%;
    text-align: center;
   }

   #img__search {
    display:flex;
    width: 100%;
   }

}

@media (min-width: 1024px) {
    .text__decoded {
       
    }
}
@media (min-width: 1440px) {
    .text__decoded {
        
    }
}
@media (min-width: 2560px) {
    .text__decoded {
        
    }
}
